{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="{% static 'javascript/main.js' %}"></script>
    <title>TL-APP</title>
  </head>

  <body>
    <nav class="header">
      <div class="container">
        <div class="hamburger-menu">
          <input type="checkbox" id="menu-btn-check">
          <label for="menu-btn-check" class="menu-btn"><span></span></label>
          <!--ここからメニュー-->
          <div class="menu-content">
            <ul>
                <li>
                    <a href="#">メニューリンク1</a>
                </li>
                <li>
                    <a href="#">メニューリンク2</a>
                </li>
                <li>
                  <form id="add_tle">
                    {% csrf_token %}
                    <input class="form-control" type="text" id="post_title" required />
                    <button class="btn btn-primary mt-2" type="submit">送信</button>
                  </form>
                </li>
            </ul>
          </div>
          <!--ここまでメニュー-->
        </div>
      </div>
    </nav>
    <main>
      {% block content %} {% endblock %}
      <div class="sidebar" id="sidebar">
        <input id="tab1" type="radio" name="tab_name">
        <input id="tab2" type="radio" name="tab_name">
        <button class="hide" onclick="sidebarhide();"></button>
        <div class="content_class" id="content1_class">
          {% for tl in tl_data %}
          <div class="sidebar_main">
            <div class="TL_title">{{ tl.title }}</div>
            <div class="TL_english">{{ tl.english }}</div>
            <div class="TL_date">{{ tl.date|date:"Y" }}</div>
            <div class="TL_abstract">{{ tl.abstract }}</div>
            <div class="TL_img"></div>
            <div class="TL_body">{{ tl.body }}</div>
            <div class="TL_PR"></div>
            <div class="IN_LINE">
              <div class="IN-LINE_title">IN-LINE</div>
            </div>
            <div class="OUT_LINE">
              <div class="OUT-LINE_title">OUT-LINE</div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="content_class" id="content2_class">
          {% for tl in tl_data %}
          <div class="sidebar_main">
            <div class="TLS_info">
              <div class="text_area">
                <div class="TL_title">{{ tl.title }}</div>
                <div class="TL_english">{{ tl.english }}</div>
                <div class="TL_date">{{ tl.date|date:"Y" }}</div>
              </div>
            </div>
            <div class="event_date">2020-11-15</div>
            <div class="event_title">銀座に開業</div>
            <div class="event_img"></div>
            <div class="event_body">吾輩わがはいは猫である。名前はまだ無い。
              どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪どうあくな種族であったそうだ。</div>
            <div class="IN_LINE">TL-IN-LINE</div>
            <div class="OUT_LINE">TL-OUT-LINE</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </main>

    {% block extrajs %} {% endblock %}
  </body>
</html>