{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="{% static 'javascript/main.js' %}"></script>
    <title>TL-APP</title>
  </head>

  <body>
    <nav class="header">
      <div class="container">
        <div class="hamburger-menu">
          <input type="checkbox" id="menu-btn-check">
          <label for="menu-btn-check" class="menu-btn"><span></span></label>
          <!--ここからメニュー-->
          <div class="menu-content">
            <ul>
                <li>
                    <a href="#">メニューリンク1</a>
                </li>
                <li>
                    <a href="#">メニューリンク2</a>
                </li>
                <li>
                  <form id="add_tle">
                    {% csrf_token %}
                    <input class="form-control" type="text" id="post_title" required />
                    <button class="btn btn-primary mt-2" type="submit">送信</button>
                  </form>
                </li>
            </ul>
          </div>
          <!--ここまでメニュー-->
        </div>
      </div>
    </nav>
    <main>
      {% block content %} {% endblock %}
      <div class="sidebar" id="sidebar">
        <input id="tab1" type="radio" name="tab_name">
        <input id="tab2" type="radio" name="tab_name">
        <button class="hide" onclick="sidebarhide();"></button>
        <div class="content_class" id="content1_class">

        </div>
        <div class="content_class" id="content2_class">
          <div class="TLS_info">
            <div class="text_area">
              <div class="TL_title">タイムラインのタイトル</div>
              <div class="TL_english">english</div>
              <div class="TL_date">1982.10.25</div>
            </div>
          </div>
          <div class="event_date">2020-11-15</div>
          <div class="event_title">タイトル</div>
          <div class="event_img">画像</div>
          <div class="event_body">bodyここに長い文章が入ります</div>
          <div class="event_inline">関連TL-IN-LINE</div>
          <div class="event_outline">関連TL-OUT-LINE</div>
        </div>
      </div>
    </main>

    {% block extrajs %} {% endblock %}
  </body>
</html>