{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>TL-APP</title>
  </head>

  <body>
    <nav class="header">
      <div class="container">
        <div class="hamburger-menu">
          <input type="checkbox" id="menu-btn-check">
          <label for="menu-btn-check" class="menu-btn"><span></span></label>
          <!--ここからメニュー-->
          <div class="menu-content">
            <ul>
                <li>
                    <a href="#">メニューリンク1</a>
                </li>
                <li>
                    <a href="#">メニューリンク2</a>
                </li>
                <li>
                  <form id="add_tle">
                    {% csrf_token %}
                    <input class="form-control" type="text" id="post_title" required />
                    <button class="btn btn-primary mt-2" type="submit">送信</button>
                  </form>
                </li>
            </ul>
          </div>
          <!--ここまでメニュー-->
        </div>
      </div>
    </nav>
    <main>
      {% block content %} {% endblock %}
      
    </main>

    {% block extrajs %} {% endblock %}
  </body>
</html>