{% extends "app/base.html" %} {% block content %}
{% for tl in tl_data %}  
<div class="TL_info_tag">
  <div class="text_tag">
    
    <div class="TL_title_tag">{{ tl.title }}</div>
    <div class="TL_english_tag">{{ tl.english }}</div>
    
  </div>
  <div class="TL_img_tag"></div>
</div>
<div class="container">
{% for year in year %}
<div id="posts">
  <div class="imgs">
    <div class="img"></div>
  </div>
  <div class="line">
    <p>{{ year.title }}</p>
  </div>
  <div class="events">
    {% for tle in year.tle.all %}
      <div class="event">
        <div class="event-runk"></div>
        <div class="event-text">
          <div class="event-day">{{ tle.start_at|date:"Y/m/d" }}</div>
          <div class="event-title">{{ tle.title }}</div>
          <div class="event-id">{{ tle.id }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endfor %}
</div>
{% endblock %} 
{% block extrajs %}

{% endblock %}