{% extends "app/base.html" %} {% block content %}
<div class="TL_info_tag">
  <div class="text_tag">
    <div class="TL_title_tag">{{ tl_title.0 }}</div>
    <div class="TL_english_tag"></div>
    <div class="TL_day_tag"></div>
  </div>
  <div class="TL_img_tag"></div>
</div>
<div class="container">
  <div id="posts">
    <div class="imgs">
      <div class="img"></div>
    </div>
    <div class="line">
      <p>1997</p>
    </div>
    <div class="events">
    {% for tle in tle_data %}
    <div class="event">
      <div class="event-runk"></div>
      <div class="event-text">
        <div class="event-day">{{ tle.start_at|date:"Y" }}</div>
        <div class="event-title">{{ tle.title }}</div>
        <div class="event-id">{{ tle.id }}</div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
  <div id="posts">
    <div class="imgs">
      <div class="img"></div>
    </div>
    <div class="line">
      <p>1997</p>
    </div>
    <div class="events">
    {% for tle in tle_data %}
    <div class="event">
      <div class="event-runk"></div>
      <div class="event-text">
        <div class="event-day">1997</div>
        <div class="event-title">{{ tle.title }}</div>
        <div class="event-id">1354216865</div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
  <div id="posts">
    <div class="imgs">
      <div class="img"></div>
    </div>
    <div class="line">
      <p>1997</p>
    </div>
    <div class="events">
    {% for tle in tle_data %}
    <div class="event">
      <div class="event-runk"></div>
      <div class="event-text">
        <div class="event-day">1997</div>
        <div class="event-title">{{ tle.title }}</div>
        <div class="event-id">1354216865</div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
  <div id="posts">
    <div class="imgs">
      <div class="img"></div>
    </div>
    <div class="line">
      <p>1997</p>
    </div>
    <div class="events">
    {% for tle in tle_data %}
    <div class="event">
      <div class="event-runk"></div>
      <div class="event-text">
        <div class="event-day">1997</div>
        <div class="event-title">{{ tle.title }}</div>
        <div class="event-id">1354216865</div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
  <div id="posts">
    <div class="imgs">
      <div class="img"></div>
    </div>
    <div class="line">
      <p>1997</p>
    </div>
    <div class="events">
    {% for tle in tle_data %}
    <div class="event">
      <div class="event-runk"></div>
      <div class="event-text">
        <div class="event-day">1997</div>
        <div class="event-title">{{ tle.title }}</div>
        <div class="event-id">1354216865</div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
  <div id="posts">
    <div class="imgs">
      <div class="img"></div>
    </div>
    <div class="line">
      <p>1997</p>
    </div>
    <div class="events">
    {% for tle in tle_data %}
    <div class="event">
      <div class="event-runk"></div>
      <div class="event-text">
        <div class="event-day">1997</div>
        <div class="event-title">{{ tle.title }}</div>
        <div class="event-id">1354216865</div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
  <div id="posts">
    <div class="imgs">
      <div class="img"></div>
    </div>
    <div class="line">
      <p>1997</p>
    </div>
    <div class="events">
    {% for tle in tle_data %}
    <div class="event">
      <div class="event-runk"></div>
      <div class="event-text">
        <div class="event-day">1997</div>
        <div class="event-title">{{ tle.title }}</div>
        <div class="event-id">1354216865</div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
  <div id="posts">
    <div class="imgs">
      <div class="img"></div>
    </div>
    <div class="line">
      <p>1997</p>
    </div>
    <div class="events">
    {% for tle in tle_data %}
    <div class="event">
      <div class="event-runk"></div>
      <div class="event-text">
        <div class="event-day">1997</div>
        <div class="event-title">{{ tle.title }}</div>
        <div class="event-id">1354216865</div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
  <div id="posts">
    <div class="imgs">
      <div class="img"></div>
    </div>
    <div class="line">
      <p>1997</p>
    </div>
    <div class="events">
    {% for tle in tle_data %}
    <div class="event">
      <div class="event-runk"></div>
      <div class="event-text">
        <div class="event-day">1997</div>
        <div class="event-title">{{ tle.title }}</div>
        <div class="event-id">{{ tle.importance }}</div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
  <div id="posts">
    <div class="imgs">
      <div class="img"></div>
    </div>
    <div class="line">
      <p>1997</p>
    </div>
    <div class="events">
    {% for tle in tle_data %}
    <div class="event">
      <div class="event-runk"></div>
      <div class="event-text">
        <div class="event-day">1997</div>
        <div class="event-title">{{ tle.title }}</div>
        <div class="event-id">1354216865</div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
  <div id="posts">
    <div class="imgs">
      <div class="img"></div>
    </div>
    <div class="line">
      <p>1997</p>
    </div>
    <div class="events">
    {% for tle in tle_data %}
    <div class="event">
      <div class="event-runk"></div>
      <div class="event-text">
        <div class="event-day">1997</div>
        <div class="event-title">{{ tle.title }}</div>
        <div class="event-id">1354216865</div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
  <div class="sidebar">
    <button class="disvisible">〉</button>
    <div class="sidebar_main">
      <div class="TL_info">
        <div class="TL_title"></div>
        <div class="english"></div>
        <div class="TL_day"></div>
      </div>
      <div class="TL-line"></div>
      <div class="date"></div>
      <div class="TLE_title">タイトルはここに</div>
      <div class="TLE_img"></div>
      <div class="TLE_text"></div>
      <div class="PR"></div>
      <div class="IN-LINE"></div>
      <div class="OUT-LINE"></div>
    </div>
  </div>
</div>
{% endblock %} {% block extrajs %}
<script>
  // https://developer.mozilla.org/ja/docs/Learn/JavaScript/Client-side_web_APIs/Fetching_data

  // CSRF対策
  const getCookie = (name) => {
    if (document.cookie && document.cookie !== '') {
      for (const cookie of document.cookie.split(';')) {
        const [key, value] = cookie.trim().split('=')
        if (key === name) {
          return decodeURIComponent(value)
        }
      }
    }
  }
  const csrftoken = getCookie('csrftoken')

  // 記事追加
  const addTLE = document.getElementById('add_tle')
  addTLE.addEventListener('submit', (e) => {
    e.preventDefault()
    const url = '{% url "add" %}'
    const post_title = document.getElementById('post_title')
    // URLのクエリパラメータを管理
    const body = new URLSearchParams()
    body.append('title', post_title.value)

    fetch(url, {
      method: 'POST',
      body: body,
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
        'X-CSRFToken': csrftoken,
      },
    })
      .then((response) => {
        // JSON形式に変換
        return response.json()
      })
      .then((response) => {
        // フォームをクリア
        post_title.value = ''
        // 追加するエレメント
        const postArea = document.getElementById('posts')
        const element = Object.assign(document.createElement('div'), { className: 'col-4 mb-3' })
        const element2 = Object.assign(document.createElement('div'), { className: 'card' })
        const element3 = Object.assign(document.createElement('div'), {
          className: 'card-body',
          textContent: response.title,
        })
        element.appendChild(element2)
        element2.appendChild(element3)
        // 最後に追加
        postArea.insertBefore(element, postArea.lastChild.nextSibling)
      })
      .catch((error) => {
        console.log(error)
      })
  })
var $sidebar = document.querySelector('.sidebar')
var $disvisible = document.querySelector('.disvisible')
$disvisible.addEventListener('click', function() {
  $sidebar.classList.toggle('is-hidden')
}) 
</script>
{% endblock %}