{% extends "app/base.html" %} {% block content %}
{% for tl in tl_data %}  
  
  <div class="TL_info_tag">
    <input type="radio" id=TLradio class="TLradio" value="選択" onclick="TLClick();">
    <label for="TLradio" class="text_tag">
      <div class="TL_title_tag">{{ tl.title }}</div>
      <div class="TL_english_tag">{{ tl.english }}</div>
      <div class="TL_year_tag">{{ tl.start_year }}-{{ tl.end_year }}</div>
    </label>
    <div class="TL_img_tag"></div>
  </div>
  <div class="container">
  <div class="posts_side">
    <div class="imgs"></div>
    <div class="line_left"></div>
    <div class="events"></div>
  </div>  
  {% for y in for_range %}
  <div id="posts">
    <div class="imgs">
    {% for tle in tle_data %}
      {% if tle.image %}
        {% if y|stringformat:"s" in tle.year|stringformat:"s" %}
          <img class="img" src="{{ tle.image }}"/>
        {% endif %}
      {% endif %}
    {% endfor %}
    </div>
    <div class="line">
      <p>{{ y }}</p>
    </div>
    <div class="events">
      {% for tle in tle_data %}
        {% if y|stringformat:"s" in tle.year|stringformat:"s" %}
        <div class="event">
          {% if tle.rank == 3 %}<div class="event-rank3"></div>{% endif %}
          {% if tle.rank == 2 %}<div class="event-rank2"></div>{% endif %}
          {% if tle.rank == 1 %}<div class="event-rank1"></div>{% endif %}
          <input type="radio" id=radio class="radio" value="選択" onclick="TLEClick();">
          <label for="radio" class="event-text">
            <div class="event-day">{{ tle.start_at|date:"Y/m/d" }}</div>
            <div class="event-title">{{ tle.title }}</div>
            <div class="event-id">{{ tle.id }}</div>
          </label>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
  <div class="posts_side">
    <div class="imgs"></div>
    <div class="line_right"></div>
    <div class="events"></div>
  </div>
{% endfor %}
{% endblock %} 
{% block extrajs %}
{% endblock %}