* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
      
body {
	background: #f1f1f1;
	display: flex;
	flex-flow: column;
	min-height: 80vh;
}

main {
	margin-top: 80px;
}

.container{
	width: 100%;
	display: flex;
	margin-left: 20px;
}

.navbar{
	width: 100%;
	height: 60px;
	position: fixed;
}

.posts{
	height: 100px;
	width: 600px;
}

.menu-btn {
	display: flex;
	height: 40px;
	width: 40px;
	justify-content: center;
	align-items: center;
	z-index: 90;
	background-color: #767676;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
	content: '';
	display: block;
	height: 3px;
	width: 25px;
	border-radius: 3px;
	background-color: #ffffff;
	position: absolute;
}

.menu-btn span:before {
	bottom: 8px;
}

.menu-btn span:after {
	top: 8px;
}

#menu-btn-check {
	display: none;
}

.menu-content {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 100%;
	z-index: 80;
	background-color: #838383;
	transition: all 0.5s;
}

.menu-content ul {
	padding: 70px 10px 0;
}

.menu-content ul li {
	border-bottom: solid 1px #ffffff;
	list-style: none;
}
.menu-content ul li a {
	display: block;
	width: 100%;
	font-size: 15px;
	box-sizing: border-box;
	color:#ffffff;
	text-decoration: none;
	padding: 9px 15px 10px 0;
	position: relative;
}
.menu-content ul li a::before {
	content: "";
	width: 7px;
	height: 7px;
	border-top: solid 2px #ffffff;
	border-right: solid 2px #ffffff;
	transform: rotate(45deg);
	position: absolute;
	right: 11px;
	top: 16px;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}

.imgs{
	height: 40vh;
	width: auto;
	display: flex;
	justify-content:flex-end;
	flex-flow: column;
	
}

.img{
	height:100px;
	width: auto;
	background-color: #d1d1d1;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.line{
	background-color: #35517d;
	width: 100%;
	height: 20px;
	display: flex;
}

p{
	color: #fefefe;
}

.events{
	height: 60vh;
	display: flex;
	flex-flow: column;
	height: 50vh;
  	overflow: auto;
	scrollbar-width: none;
}

.events::-webkit-scrollbar {  
	display: none; /*Google Chrome、Safari、Microsoft Edge対応のスクロールバー非表示コード*/
}

.event{
	width: 100%;
	height: 500px;
	margin-top: 20px;
	display: flex;
}

.event-runk{
	background-color: #4669A2;
	width: 10px;
	height: 100%;
	border-radius: 10px 0px 0px 10px;
	box-shadow: 5px 5px 2px #bfbfbf;
}

.event-text{
	background-color: #fefefe;
	width: 200px;
	margin-right: 20px;
	padding-left: 8px;
	border-radius: 0px 10px 10px 0px;
	box-shadow: 5px 5px 2px #bfbfbf;
}

.event-day{
	font-size: 0.6em;
	padding-bottom: 4px;
}

.event-title{
	font-size: 0.8em;
}

.event-id{
	font-size: 0.4em;
	padding-top: 8px;
}