* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #545454;
}
      
body {
	background: #f1f1f1;
	display: flex;
	flex-flow: column;
	min-height: 80vh;
	margin: 0px;	
}

.container{
	width: 100vh;
	height: 100%;
	display: flex;
	margin-left: 20px;
}

.header{
	width: 100%;
	height: 60px;
	position: fixed;
	background-color: #d1d1d1;
	z-index: 1;
}

.posts{
	height: 100px;
	width: 600px;
	min-width: 500px;
}
.posts_side{
	height: 100px;
	width: 40px;
}

.menu-btn {
	position: fixed;
	left: 20px;
	top: 10px;
	display: flex;
	height: 40px;
	width: 40px;
	justify-content: center;
	align-items: center;
	background-color: #d1d1d1;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
	content: '';
	display: block;
	height: 3px;
	width: 25px;
	border-radius: 3px;
	background-color: #000000;
	position: absolute;
}

.menu-btn span:before {
	bottom: 8px;
}

.menu-btn span:after {
	top: 8px;
}

#menu-btn-check {
	display: none;
}

.menu-content {
	width: 30%;
	height: 100%;
	position: fixed;
	top: 60px;
	right: 100%;
	background-color: #e3e3e3;
	transition: all 0.5s;
	
	

}
.menu-item{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom:solid;
	border-color: #fcfcfc;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
	color: #545454;
}
a{
	text-decoration: none;
}



#menu-btn-check:checked ~ .menu-content {
    right: 70%;/*メニューを画面内へ*/
}

.imgs{
	height: 40vh;
	width: 90%;
	display: flex;
	justify-content:flex-end;
	flex-flow: column;
}

.img{
	height:auto;
	width:100%;
	background-color: #d1d1d1;
	margin-right: 20px;
	margin-bottom: 20px;
}

.line{
	background-color: #35517d;
	width: 100%;
	height: 40px;
	display: flex;
}
.line_left{
	background-color: #35517d;
	width: 40px;
	height: 40px;
	display: flex;
	border-radius: 20px 0px 0px 20px;
}
.line_right{
	background-color: #35517d;
	width: 40px;
	height: 40px;
	display: flex;
	border-radius: 0px 20px 20px 0px;
}
p{
	color: #fefefe;
	margin-top: 2px;
	font-size: 24px;
}

.events{
	width: 200px;
	height: 50vh;
	display: flex;
	flex-flow: column;
  	overflow: auto;
	scrollbar-width: none;
}

.events::-webkit-scrollbar {  
	display: none; 
	height: 100px;
}


.event{
	height: auto;
	margin-top: 20px;
	display: flex;
}

.event-rank3{
	background-color: #4669A2;
	width: 10px;
	height: 100%;
	border-radius: 10px 0px 0px 10px;
	box-shadow: 5px 5px 2px #bfbfbf;
}
.event-rank2{
	background-color: #6885b3;
	width: 10px;
	height: 100%;
	border-radius: 10px 0px 0px 10px;
	box-shadow: 5px 5px 2px #bfbfbf;
}
.event-rank1{
	background-color: #a6b6d1;
	width: 10px;
	height: 100%;
	border-radius: 10px 0px 0px 10px;
	box-shadow: 5px 5px 2px #bfbfbf;
}

.event-text{
	background-color: #fefefe;
	width: 200px;
	height: 100%;
	margin-right: 20px;
	padding-left: 8px;
	border-radius: 0px 10px 10px 0px;
	box-shadow: 5px 5px 2px #bfbfbf;
}

.event-day{
	font-size: 0.6em;
	padding-bottom: 4px;
}

.event-title{
	font-size: 0.8em;
}

.event-id{
	font-size: 0.4em;
	padding-top: 8px;
}

.TLE_img{
	height: 260px;
	width: 100%;
	background-color: #c3c3c3;
}



button.hide{
	width: 40px;
	height: 100%;
	border: none;
	float: left;
	background-color: #e9e9e9;
	transition: all .2s;
}
button.hide:hover{
	background-color: #f0f0f0;
}
.TL_info_tag{
	left: 0px;
	position: relative;top:80px;
	width: 280px;
	height: 60px;
	box-shadow:5px 5px 5px #bfbfbf;
	display: flex;
	justify-content: space-between;
	z-index: 0;
}
.text_tag{
	padding-left: 28px;
	padding-top: 10px;
	font-size: 14px;
	cursor: pointer;
	width:220px;
	height: 100%;
}

.TL_img_tag{
	width: 60px;
	height: 60px;
	background-color: #4669A2;
}
.TL_english_tag{
	font-size: 6px;
}
.TL_year_tag{
	font-size: 6px;
}

.sidebar{
	width: 400px;
	height: calc(100vh);
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: #e9e9e9;
	box-shadow: 10px 10px 10px 20px #bfbfbf;
	display: none;
	z-index: 2;
}



/* タブ */
.tab_class {
	width: calc(100%/2);
	height: 50px;
	line-height: 50px;
	text-align: center;
	display: block;
	text-align: center;
	transition: all 0.2s ease;
}

.tab_class:hover {
	opacity: 0.75;
}
/* ラジオボタンを非表示に */
input[name="tab_name"] {
	display: none;
}
/* 内容部分 */
.content_class {
	display: none;
	overflow: hidden;
}

/* 選択されたタブの内容のみを表示 */
#tab1:checked ~ #content1_class,
#tab2:checked ~ #content2_class,
#tab3:checked ~ #content3_class{
	display: block;
}

.event_img{
	background-color: #35517d;
	width: 100%;
	height: 200px;
}
#radio{
	display: none;
}
#TLradio{
	display: none;
}

#content1_class{
	height: 100%;
	width: calc(100%-40px);
	padding-top: 50px;

}
#content2_class{
	height: 100%;
	width: calc(100%-60px);
	padding-top: 50px;
}
#content3_class{
	height: 100%;
	width: calc(100%-60px);
	padding-top: 80px;
}
#tab1{
	display: none;
}
#tab2{
	display: none;
}

.sidebar_main{
	height: 100%;
	width: 100%;
	padding-right: 25px;
	overflow: scroll;
}
.TL_title{
	font-size: 20px;
	
}
.TL_english{
	font-size: 14px;
}
.TL_date{
	font-size: 8px;
}
.TL_abstract{
	font-size: 14px;
	margin-top: 40px;
}
.TL_img{
	height: 260px;
	width: 100%;
	background-color: #4669A2;
	margin-top: 40px;		
}
.TL_body{
	font-size: 14px;
	margin-top: 40px;
}
.TL_PR{
	height: 200px;
	width: 300px;
	background-color: #4669A2;
	margin-top: 40px;	
}
.IN_LINE{
	margin-top: 20px;
}
.OUT_LINE{
	margin-top: 20px;
}

.event_date{
	margin-top: 20px;
}
.event_title{
	font-size: 20px;
}
.event_img{
	height: 200px;
	width: 100%;
	background-color: #4669A2;
	margin-top: 40px;
}
.event_body{
	font-size: 14px;
	margin-top: 40px;
}
.form{
	width: 100%;
	padding-bottom: 20px;
}
.form_text{
	width: 300px;
	height: 36px;
	margin-left: 20px;
	border-radius: 18px;
	border:1px #545454;
	outline: none;
	padding-left: 20px;
	font-size: 18px;
}
.form_text:active{
	border:1px #0e67aa;
}
.submit-btn{
	width: 140px;
	height: 40px;
	margin-left: 100px;
	margin-top: 40px;
	background-color: #545454;
	color: #fefefe;
	border-radius: 20px
}
.submit-btn:hover{
	background-color: #ffffff;
	color: #535353;
}
.inputlabel{
	font-size: 14px;
	padding-left: 20px;
}
.form_image{
	width: auto;
	color: #535353;
	font-size: 16px;
	padding-left: 40px;
}
.TL_mainimage{
	width: 100%;
	height: auto;
	background-color: #4669A2;
}
.TL_tagimage{
	width: 60px;
	height: 60px;
	float: right;
	position: fixed;
	top: 40px;
	right: 30px;
}