* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
      
body {
	background: #f1f1f1;
	display: flex;
	flex-flow: column;
	min-height: 80vh;
	margin: 0px;
}

.container{
	width: 100%;
	height: 100%;
	display: flex;
	margin-left: 20px;
}

.header{
	width: 100%;
	height: 60px;
	position: fixed;
	background-color: #d1d1d1;
}
#search_tle{
	margin: 10px 20px 10px auto;
	width: 200px;

}

.posts{
	height: 100px;
	width: 600px;
}

.menu-btn {
	position: fixed;
	left: 20px;
	top: 10px;
	display: flex;
	height: 40px;
	width: 40px;
	justify-content: center;
	align-items: center;
	background-color: #d1d1d1;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
	content: '';
	display: block;
	height: 3px;
	width: 25px;
	border-radius: 3px;
	background-color: #525252;
	position: absolute;
}

.menu-btn span:before {
	bottom: 8px;
}

.menu-btn span:after {
	top: 8px;
}

#menu-btn-check {
	display: none;
}

.menu-content {
	width: 30%;
	height: 100%;
	position: fixed;
	top: 60px;
	right: 100%;
	background-color: #e3e3e3;
	transition: all 0.5s;
}

.menu-content ul {
	padding: 70px 10px 0;
}

.menu-content ul li {
	border-bottom: solid 1px #ffffff;
	list-style: none;
}

.menu-content ul li a {
	display: block;
	width: 100%;
	font-size: 15px;
	box-sizing: border-box;
	color:#ffffff;
	text-decoration: none;
	padding: 9px 15px 10px 0;
	position: relative;
}

.menu-content ul li a::before {
	content: "";
	width: 7px;
	height: 7px;
	border-top: solid 2px #ffffff;
	border-right: solid 2px #ffffff;
	transform: rotate(45deg);
	position: absolute;
	left: 11px;
	top: 16px;
}

#menu-btn-check:checked ~ .menu-content {
    right: 70%;/*メニューを画面内へ*/
}

.imgs{
	height: 40vh;
	width: auto;
	display: flex;
	justify-content:flex-end;
	flex-flow: column;
}

.img{
	height:100px;
	width: auto;
	background-color: #d1d1d1;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.line{
	background-color: #35517d;
	width: 100%;
	height: 20px;
	display: flex;
}

p{
	color: #fefefe;
}

.events{
	height: 50vh;
	display: flex;
	flex-flow: column;
  	overflow: auto;
	scrollbar-width: none;
}

.events::-webkit-scrollbar {  
	display: none; /*Google Chrome、Safari、Microsoft Edge対応のスクロールバー非表示コード*/
}

.event{
	width: 100%;
	height: 64px;
	margin-top: 20px;
	display: flex;
}

.event-runk{
	background-color: #4669A2;
	width: 10px;
	height: 100%;
	border-radius: 10px 0px 0px 10px;
	box-shadow: 5px 5px 2px #bfbfbf;
}

.event-text{
	background-color: #fefefe;
	width: 200px;
	margin-right: 20px;
	padding-left: 8px;
	border-radius: 0px 10px 10px 0px;
	box-shadow: 5px 5px 2px #bfbfbf;
}

.event-day{
	font-size: 0.6em;
	padding-bottom: 4px;
}

.event-title{
	font-size: 0.8em;
}

.event-id{
	font-size: 0.4em;
	padding-top: 8px;
}
.sidebar{
	background-color: #ededed;
	width: 400px;
	height: 90vh;
	position: fixed;
	right: 0;
	border-radius: 10px 0 0 10px;
	display: flex;
	flex-direction: row;
	box-shadow: 5px 5px 5px 5px #bfbfbf;

	transition:
		padding-top 300ms,
		line-height 300ms;
}
.sidebar_main{
	width: 90%;
	margin-right: 5%;
	display: flex;
	flex-direction: column;
}
.TL-line{
	background-color: #4669A2;
	height: 1vh;
	width: 100%;
}

.TLE_img{
	height: 260px;
	width: 100%;
	background-color: #c3c3c3;
}

.PR{
	height: 260px;
	width: 100%;
	background-color: #c3c3c3;
	margin-top: 10px;	
}

.disvisible{
	width: 40px;
	border: none
}

.sidebar.is-hidden {
	left: 100%;
}
.sidebar_main {
	transition: opacity 1000ms;
}

.TL_info_tag{
	left: 0px;
	position: relative;top:80px;
	width: 280px;
	height: 60px;
	box-shadow:5px 5px 5px #bfbfbf;
	display: flex;
	justify-content: space-between;

}
.text_tag{
	padding-left: 28px;
	padding-top: 10px;
	font-size: 14px;
}

.TL_img_tag{
	width: 60px;
	height: 60px;
	background-color: #4669A2;
	z-index: 2;
	float: right;
}